.auth_*
env
src/plugins/
.wwebjs_auth
.wwebjs_cache
.claude
downloads
src/node_modules/
node_modules/
cookies.txt
bin/
mychats.txt
manybot.conf
manyplug.conf
update.log
logs/audio-error.log
logs/video-error.log
registry.json
